QuotableQuotations.Client/QuotableQuotations.Client/Service References/QuotableQuotationsReliableWcfService/QuotableQuotationsReliableWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41280/QuotableQuotationsReliableWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" />
  <xs:import schemaLocation="http://localhost:41280/QuotableQuotationsReliableWcfService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UpdateOrInsertQuotations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" minOccurs="0" name="quotableQuotations" nillable="true" type="q1:ArrayOfQuotableQuotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrInsertQuotationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuotations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuotationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>