QuotableQuotations.Client/QuotableQuotations.Client/Service References/QuotableQuotationsWcfService/QuotableQuotationsWcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41280/QuotableQuotationsWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" />
  <xs:element name="GetAllQuotations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuotationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" minOccurs="0" name="GetAllQuotationsResult" nillable="true" type="q1:ArrayOfQuotableQuotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" minOccurs="0" name="GetQuotationsResult" nillable="true" type="q2:ArrayOfQuotableQuotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" minOccurs="0" name="GetQuotationsByCategoryResult" nillable="true" type="q3:ArrayOfQuotableQuotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" minOccurs="0" name="GetQuotationsByNameResult" nillable="true" type="q4:ArrayOfQuotableQuotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" minOccurs="0" name="quote" nillable="true" type="q5:QuotableQuotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuotationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" minOccurs="0" name="quote" nillable="true" type="q6:QuotableQuotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuotationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuotationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>