QuotableQuotations.Client/QuotableQuotations.Client/Service References/QuotableQuotationsReadOnlyReliableWcfService/QuotableQuotationsReadOnlyReliableWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41280/QuotableQuotationsReadOnlyReliableWcfService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:41280/QuotableQuotationsReadOnlyReliableWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" />
  <xs:element name="GetQuotationsByQuoteStrings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="quoteTexts" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationsByQuoteStringsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" minOccurs="0" name="GetQuotationsByQuoteStringsResult" nillable="true" type="q2:ArrayOfQuotableQuotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationsByNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="names" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationsByNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" minOccurs="0" name="GetQuotationsByNamesResult" nillable="true" type="q4:ArrayOfQuotableQuotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationsByCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="categories" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationsByCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QuotableQuotations.Contracts.Classes" minOccurs="0" name="GetQuotationsByCategoriesResult" nillable="true" type="q6:ArrayOfQuotableQuotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>